/* -- My Colors -- */
$snow: #fcf6f6;
$powder-blue: #bbe5ed;
$spring-green: #5efc8d;
$fire-opal: #ce1839;

/* -- Dark Shades -- */
$onyx: #353839;
$jet: #2a2d2e;
$eerie: #181818;

/* -- Mint -- */
$mint-1: #9ae6c3;
$mint-2: #67cfa0;
$mint-3: #42b883;
$mint-4: #26a66c;
$mint-5: #0d8d53;

/* -- Coral -- */
$coral-1: #ffc2ab;
$coral-2: #ffa27f;
$coral-3: #ff885b;
$coral-4: #f16937;
$coral-5: #cc4513;

/* -- Blue Yonder -- */
$blueyonder-1: #a0b7e4;
$blueyonder-2: #6f8ecb;
$blueyonder-3: #4b6eb2;
$blueyonder-4: #3156a0;
$blueyonder-5: #193e88;

/* -- Royal Yellow -- */
$royalyellow-1: #ffe2ab;
$royalyellow-2: #ffd37f;
$royalyellow-3: #ffc75b;
$royalyellow-4: #f1b137;
$royalyellow-5: #cc8c13;

/* -- Grays -- */
$black-olive: #424946;
$cultured: #f2f4f1;
$off-white: #f6f6f6;

/* -- Defaults -- */
$white: #fff;
$black: #000000;
