@import "../colors";

.hero {
  gap: 64px;
  margin: 8rem auto 10rem;
  max-width: 1200px;
  padding: 0 1rem;

  &-about {
    max-width: 500px;

    &-img {
      max-width: 100%;
      height: auto;
      margin-bottom: 16px;
    }
  }

  &-img {
    position: relative;
    border-radius: 8px;
    z-index: 1;
    max-width: 100%;
    height: auto;
  }
}
